# extra data
/log
/model

# sensitive data
/data/benchmark_data_290_shot.json
/data/harmful_data_10_shot.json
/data/harmful_data_50_shot.json
/data/harmful_data_100_shot.json
config.ini
confirmed_indices_10.csv
confirmed_indices_50.csv